# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.eclipse/
.settings/
.classpath
.project
graphify-out/

# Minecraft client/server files
run/

# MacOS system files
.DS_STORE
.vscode/

bin/